---
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

// Define translations for the footer content
const footerText = {
  es: `Este es un proyecto de <a 
      target="_blank" 
      rel="noopener" 
      href="https://github.com/baezor/refugios-qroo">código abierto</a> 
    y sin fines de lucro desarrollado por <a 
      href="https://angelromerobaez.com">Angel Romero Baez</a>`,
  en: `This is a <a 
      target="_blank" 
      rel="noopener" 
      href="https://github.com/baezor/refugios-qroo">open-source</a> 
    non-profit project developed by <a 
      href="https://angelromerobaez.com">Angel Romero Baez</a>`
};

const footerLabel = lang === 'es' ? 'Información del sitio' : 'Site information';
---

<footer aria-label={footerLabel}>
  <p set:html={footerText[lang]} />
</footer>

<style>
  footer {
    background-color: #ab0a3d;
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    margin-top: auto;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  a {
    color: #f1f1f1;
    font-weight: 600;
    text-decoration: underline;
  }
</style>
