---

---

<footer>
  <p>
    Este es un proyecto de código abierto y sin fines de lucro desarrollado por <a
      href="https://prepain.mx/"
      target="_blank">Prepa IN</a
    >
  </p>
</footer>

<style>
  footer {
    background-color: #ab0a3d;
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    margin-top: auto;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  a {
    color: #f1f1f1;
    text-decoration: underline;
  }
</style>
