---
---
<footer>
  <p>
    Este es un proyecto de código abierto y sin fines de lucro desarrollado por <a href="https://angelromerobaez.com" target="_blank">Angel Romero Baez</a>
  </p>
</footer>

<style>
  footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  a {
    color: #f1f1f1;
    text-decoration: underline;
  
  }
</style>
